.additional
    margin: 0 0 16px
    font-style: italic
    color: rgb(83,120,134)

.values
    padding: 0
    margin: 0

    *
        margin: 0

    >:not(:last-child)
        margin-bottom: 6px

    li
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

    h3,p
        flex: 0 1 max-content

    h3
        color: rgb(128,219,96)
        align-self: flex-start

    p
        color: rgb(88,88,88)
        align-self: flex-end
        margin-left: auto

        span
            color: white

    li&:not(:last-child)
        margin-bottom: 16px