.tooltip
    width: 800px
    max-width: 100%

    >*
        padding: 20px

        @media screen and (max-width: 1023px) 
            padding: 12px
        
    .main
        header
            display: flex
            position: relative
            gap: 24px
            margin-left: -8px
            margin-bottom: 16px

            @media screen and (max-width: 1023px) 
                gap: 16px
                margin-left: -4px
                margin-bottom: 8px
                padding-top: 1.5rem

            >:last-child
                flex-grow: 1

            .skill
                @media screen and (max-width: 1023px) 
                    position: absolute
                    top: -1.5rem
                    right: 0

            .cooldown
                font-size: 1rem
                line-height: 1.1rem

                @media screen and (max-width: 1023px) 
                    font-size: 0.9rem
                    line-height: 1rem

            img
                width: 80px
                height: 80px                

                @media screen and (max-width: 1023px) 
                    width: 60px
                    height: 60px

            .name
                display: flex
                position: relative
                justify-content: space-between

                *
                    color: rgb(255,182,46)
                    margin-block: 0

                >:last-child
                    text-align: right

            h1::before
                display: block
                position: absolute
                content: ""
                width: 4px
                left: -12px
                top: 0
                bottom: 0
                background-color: rgb(83,120,134)

                @media screen and (max-width: 1023px) 
                    left: -8px

            >div
                display: flex
                flex-direction: column
                justify-content: space-between

    .values
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 12px
        background: black

.calcnote
    font-size: 0.8rem