.menu
    display: flex
    align-items: center
    color: white
    font-size: 16px
    font-weight: bold
    gap: 2px
    position: fixed
    top: 0
    left: 0
    z-index: 100
    background: none
    height: 44px
    padding-left: 4px

    p
        padding-top: 2px

.nooverlay
    position: fixed
    inset: 0
    z-index: 100
    background-color: none
    border: none

.bg
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba(black, 0.5)
    opacity: 1
    z-index: 10