.enter
    left: -265px

.enterActive
    left: 0
    transition: left 250ms

.enterDone
    left: 0

.exit
    left: 0

.exitActive
    left: -265px
    transition: left 250ms

.exitDone
    left: -265px
