.mobiletab
    height: 100%

.pctab
    display: flex
    position: relative
    flex-direction: column
    height: 100%

.tab
    >header
        width: 100%
        background: var(--c4)
        color: white
        padding: 8px
        font-size: 10px
    
    h2
        font-size: 1.35rem   

    h3
        font-size: 1.2rem
        margin-bottom: 2px

        span
            font-size: 0.8rem

    .content
        overflow-y: scroll
        height: 100%
        flex-grow: 1