.topbar
    display: flex
    position: relative
    align-items: center
    justify-content: space-between
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 46px
    padding: 0 8px
    background-color: var(--c4)

    h1
        position: absolute
        left: 0
        right: 0
        text-align: center
        color: white
        font-size: 1.2rem