.simple
    padding: 16px

.parent
    margin: auto
    font-size:  12px

.storage
    display: flex
    justify-content: space-between
    align-items: center
    background: white
    border-radius: 8px
    position: relative
    padding: 4px 16px

    div
        display: flex
        gap: 8px

.base
    display: flex
    justify-content: center
    max-width: 100%
    margin-top: 16px
    border-radius: 8px

.row
    flex-grow: 1
    min-width: 300px
    max-width: 400px
    min-height: 85vh
    background: white

    >header
        background: var(--c4)
        color: white
        padding: 8px
        font-size: 10px
    
    h2
        font-size: 1.5rem   

    h3
        font-size: 1.2rem
        margin-bottom: 2px

.simple
    .tooltip
        padding: 0
        z-index: 1