.slot
    display: inline-block
    cursor: pointer
    box-sizing: content-box
    position: relative
    width: 74px
    height: 41px
    vertical-align: top

.blank
    width: 100%
    height: 100%
    background-color: rgb(155,155,155)
    padding-top: 4px

    svg
        display: inline
        vertical-align: middle