.slot
    cursor: pointer
    box-sizing: content-box
    position: relative
    vertical-align: top

    .equipment
        aspect-ratio: 74 / 41

.blank
    width: 100%
    height: 100%
    background-color: rgb(155,155,155)
    padding-top: 4px

    svg
        display: inline
        vertical-align: middle