.preference
    display: flex
    position: absolute
    flex-direction: column
    align-items: stretch
    justify-content: center
    background: var(--base)
    width: 650px
    max-width: 90vw
    min-height: 200px
    border-radius: 16px
    overflow: hidden
    box-shadow: 0 0 25px rgba(0,0,0,0.5)
    padding: 24px
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    label
        display: flex
        align-items: center
        background-color: white
        border-radius: 8px
        padding: 8px
        gap: 12px


        div
            flex: 1

        h3
            font-size: 16px

        p
            font-size: 14px