.skills
    display: grid
    grid-template-columns: 50px 50px 50px 50px 50px

    li
        display: flex
        flex-direction: column
        justify-content: center

    img
        width: 50px

.configurator
    display: flex
    height: 20px
    margin-top: auto

    select
        width: 100%