.skills
    display: grid
    grid-template-columns: repeat(6, 70px)

    li
        display: flex
        flex-direction: column
        justify-content: center

.configurator
    display: flex
    height: 20px
    margin-top: auto
