.skills
    display: grid
    grid-template-columns: repeat(6, 16.6%)

    >*
        width: 100%

    .vertical
        display: flex
        flex-direction: column
        justify-content: center

    img
        width: 100%

    .blank
        width: 100%
        aspect-ratio: 1
        text-align: center
        background-color: rgb(155,155,155)
        padding: 0 2px 2px 0
        svg
            display: inline
            vertical-align: middle
            height: 100%

.configurator
    display: flex
    height: 30px
    margin-top: auto
