.additional
    margin: 0 0 16px
    font-style: italic
    color: rgb(83,120,134)

.values
    padding: 0
    margin: 0

    *
        margin: 0

    >:not(:last-child)
        margin-bottom: 6px

    li
        display: flex
        justify-content: space-between
        align-items: center

    h3
        color: rgb(128,219,96)
        margin-right: 10px

    p
        flex-shrink: 0
        color: rgb(88,88,88)

        span
            color: white