.base
    width: 100%
    height: 100%
    position: relative
    box-shadow: 0 0 3px rgba(0,0,0,0.5)

    img
        margin-top: 2px
        width: calc(100% - 4px)
        height: calc(100% - 4px)
        position: relative

.epic::before,.legendary::before,.mythic::before
    display: block
    content: ''
    position: absolute
    inset: 2px
    background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.5))

.epic
    background-color: rgb(142,115,191)
.legendary
    background-color: rgb(166,143,75)
.mythic
    background-color: rgb(173,77,77)

.redshard::after
    content: ''
    position: absolute
    width: 80%
    height: 4px
    display: inline-block
    background: #ff00ff
    border-radius: 2px
    bottom: 0
    left: 10%

.blueshard::after
    content: ''
    position: absolute
    width: 80%
    height: 4px
    display: inline-block
    background: #00bfff
    border-radius: 2px
    bottom: 0
    left: 10%