.config
    display: flex
    flex-direction: column
    gap: 12px
    padding: 8px

.top
    display: flex
    gap: 8px

    .right
        display: flex
        flex-direction: column 
        justify-content: space-between
        flex: 1

    img
        cursor: pointer        
        box-shadow: 0 0 5px rgba(0,0,0,0.5)
        width: 100px
        background: var(--c5)
        border-radius: 4px

.mastery
    display: flex
    width: auto
    justify-content: space-between
    align-items: center
    position: relative
    gap: 8px

    >*
        flex: 1


.equipment
    text-align: center
    margin-right: -2px
    
    >*
        margin-right: 2px