.list
    position: absolute
    ul
        display: grid
        width: 80vh
        grid-template-columns: repeat(auto-fill, 64px)
        column-gap: 14px
        row-gap: 8px
    li
        display: inline-flex
        flex-direction: column
        justify-content: center
        text-align: center
        p
            font-size: 12px
