.skills
    display: grid
    grid-template-columns: repeat(6, 16.6%)

    >*
        width: 100%

    .vertical
        display: flex
        flex-direction: column
        justify-content: center

    img
        width: 100%

.configurator
    display: flex
    height: 30px
    margin-top: auto
