.status
    padding: 8px

    header
        display: flex
        justify-content: space-between
        align-items: center

        h3
            line-height: 40px

        label
            font-size: 10px

.parent
    font-size: 14px
    font-weight: bold
    border: 1px solid var(--c4)
    border-radius: 4px
    
    table
        width: 100%
        border-spacing: 0
        border-collapse: separate

    tr
        transition: background 0.25s ease

    td
        border-bottom: 1px solid rgba(0,0,0,0.1)

    .label
        height: 28px

        *
            vertical-align: middle

        >:first-child
            margin-top: -2px

    .value
        font-size: 16px

    thead
        font-size: 12px
        height: 30px
        
        th:first-child
            text-align: left

    tbody
        td:not(:first-child)
            text-align: right

        tr
            height: 28px

    .zero
        color: rgba(0,0,0,0.3)

    .separator
        background: var(--c4)
        font-size: 13px
        color: white
        cursor: pointer
        div
            display: flex
            justify-content: space-between
            width: 100%

    td
        padding: 2px 4px

    .expand
        text-align: right
        background-color: rgba(0,0,0,0.05)
        >td
            padding: 0

    >table>tbody>tr:not(.separator):hover
        background: rgba(0,0,0,0.05)


.basic-attack-reduction
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: 2px
        left: 0
        transform: scale(0.6)

.basic-attack-amp
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -4px
        left: -4px
        transform: scale(0.6)

.attack-speed
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -3px
        left: -4px
        transform: scale(-0.5, 0.5)

.critical-damage
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -6px
        left: -6px
        transform: scale(0.6)