.basic_attack_amp
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -4px
        left: -4px
        transform: scale(0.6)

.attack_speed
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -3px
        left: -4px
        transform: scale(-0.5, 0.5)

.critical_damage
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -6px
        left: -6px
        transform: scale(0.6)