.blank
    width: 100%
    aspect-ratio: 74 / 41
    height: 100%
    background-color: rgb(155,155,155)
    text-align: center

    svg
        display: block
        position: absolute
        inset: 0
        margin: auto