.equipment
    display: grid
    justify-content: space-between
    gap: 2px
    grid-template-columns: repeat(5, 1fr)
    max-width: 100%
    width: 380px

.david
    position: relative
    height: 20px

    label
        position: absolute
        white-space: nowrap
        font-size: 1rem
        overflow: visible
        
        input
            width: 20px
            height: 20px

        *
            display: inline
            vertical-align: middle