p .amp
    color: rgb(206,149,206)
p .maxhp
    color: rgb(104,138,13)
p .level
    color: rgb(0,255,0)
p .bold
    font-weight: bold
p .vf-overflow
    color: rgb(255,0,0)
p .strong
    color: rgb(255,255,0)
p .weak
    color: rgb(127,127,127)