.status
    padding: 8px

    header
        display: flex
        justify-content: space-between
        align-items: center

        h3
            line-height: 40px

        label
            font-size: 10px



