.status
    padding: 8px

    header
        display: flex
        justify-content: space-between
        align-items: center

        h3
            line-height: 40px

        label
            font-size: 10px

.basic-attack-reduction
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: 2px
        left: 0
        transform: scale(0.6)

.basic-attack-amp
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -4px
        left: -4px
        transform: scale(0.6)

.attack-speed
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -3px
        left: -4px
        transform: scale(-0.5, 0.5)

.critical-damage
    display: inline-block
    position: relative
    >:last-child
        display: block
        position: absolute
        top: -6px
        left: -6px
        transform: scale(0.6)