.base
    display: flex
    border-radius: 8px
    flex: 1
    box-shadow: 0 0 5px rgba(black,0.5)
    overflow: hidden
    transition: transform 0.25s ease

.collapsebase
    border-radius: 8px
    flex: 1
    box-shadow: 0 0 5px rgba(black,0.5)
    overflow: hidden
    align-self: center
    width: 400px

    .base
        width: 1200px
        height: calc(100% - 40px)
        box-shadow: none
        border-radius: 0

