.inner
    border-spacing: 4px 0
    tbody
        td
            padding: 0
            border-bottom: none

    td:first-child
        text-align: left
        white-space: nowrap
        padding-left: 20px

    td:last-child
        padding-left: 4px