.header
    display: flex
    justify-content: end
    align-items: stretch
    gap: 24px

.config
    color: var(--c3)

.navbutton
    display: flex
    align-items: center
    font-size: 16px
    font-weight: bold
    gap: 2px
    background: none
    color: white