.preference
    display: flex
    flex-direction: column
    gap: 16px
    align-items: stretch
    justify-content: center
    position: absolute
    background: var(--base)
    width: 650px
    height: 300px
    margin: auto
    inset: 0
    border-radius: 16px
    overflow: hidden
    box-shadow: 0 0 25px rgba(0,0,0,0.5)
    padding: 24px

    label
        display: flex
        align-items: center
        background-color: white
        border-radius: 8px
        padding: 8px
        gap: 12px


        div
            flex: 1

        h3
            font-size: 16px

        p
            font-size: 14px