.tooltip
    width: 350px
    font-weight: bold
    *
        margin: 0
        padding: 0

    header
        display: flex
        justify-content: space-between
        align-items: center

        >div
            padding: 20px 0 20px 10px

    h1
        font-size: 16px
    p
        font-size: 12px
    img
        width: 128px
        height: 71px
    
    ul
        padding: 0
        color: rgb(0, 200, 0)

.epic
    header
        background: linear-gradient(90deg, rgba(50,31,78,0), rgba(50,31,78,255))

.legendary
    header
        background: linear-gradient(90deg, rgba(124,91,46,0), rgba(124,91,46,255))

.mythic
    header
        background: linear-gradient(90deg, rgba(76,26,28,0), rgba(76,26,28,255))
