.skill
    background: black

    >*
        padding-left: 12px

    *
        margin-block-start: 0
        margin-block-end: 0

    header
        position: relative
        justify-content: space-between
        align-items: center
        background: linear-gradient(90deg, rgba(50,31,78,0), rgba(50,31,78,255))

    header::before
        display: block
        position: absolute
        content: ""
        width: 4px
        left: 0
        top: 0
        bottom: 0
        background-color: rgb(153,59,218)

    h2
        color: white
        line-height: 28px

    h3
        margin-block-start: 10px
        color: rgb(255,255,0)

    p
        padding-bottom: 8px