.root
    padding: 0
    z-index: 1000

.base
    *
        font-size: 18px
        font-weight: bold
        line-height: 22px
        color: rgb(172,172,172)

.modaloverlay
    display: flex
    justify-content: center
    align-items: center

.modalbase
    background: rgba(black, 0.7)
    scale: 0.9

p .attack
    color: rgb(255,215,117)
p .amp
    color: rgb(206,149,206)
p .maxhp
    color: rgb(104,138,13)
p .defense
    color: rgb(138,190,218)
p .level
    color: rgb(0,255,0)
p .bold
    font-weight: bold
p .vf-overflow
    color: rgb(255,0,0)
p .losthp
    color: rgb(247,129,129)
p .maxsp
    color: rgb(149,245,245)
p .attackspeed
    color: rgb(173,164,120)
p .critical
    color: rgb(255,96,113)
p .strong
    color: rgb(255,255,0)
p .weak
    color: rgb(127,127,127)

p .emphasis
    color: white
p .enhance
    color: rgb(255,255,194)
p .common
    color: rgb(196,196,196)
p .uncommon
    color: rgb(51,242,140)
p .rare
    color: rgb(42,192,255)
p .legendary
    color: rgb(255,235,0)

p .italic
    font-style: italic