body
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: Pretendard,sans-serif,-apple-system,Segoe UI,Roboto,Helvetica Neue
    background: #EFF0F7
    font-size: 20px

*
    margin: 0
    padding: 0
    box-sizing: border-box

*::-webkit-scrollbar
    top: 12px
    margin-top: 8px
    width: 12px

*::-webkit-scrollbar-thumb
    background: #b0b0b0
    border: 3px solid #e6e6e6
    border-radius: 7px

*::-webkit-scrollbar-track
    background: #e6e6e6

li
    list-style: none

button
    position: relative;
    display: inline-block
    cursor: pointer

    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

    -webkit-transition: all 0.3s
    transition: all 0.3s

    text-align: center
    vertical-align: middle
    text-decoration: none

    letter-spacing: 0.1em
    outline: 0
    border-style: none
    border-radius: 4px

select
    cursor: pointer

:root
    --c1: #f6b827;
    --c2: #f87d08;
    --c3: #8dba30;
    --c4: #617b47;
    --c5: #abba6a;
    --bg: white;
    --main: black;
    --base: #EFF0F7
    --lg: rgb(240,240,240)
    --lmg: rgb(200,200,200)
    --dg: rgb(120,120,120)