.enter
    opacity: 0

.enterActive
    opacity: 1
    transition: opacity 250ms

.enterDone
    opacity: 1

.exit
    opacity: 1
    pointer-events: none

.exitActive
    opacity: 0
    transition: opacity 250ms
    pointer-events: none

.exitDone
    opacity: 0
    transition: opacity 250ms
    pointer-events: none
