.row
    padding: 4px 0

.header
    display: flex
    align-items: center
    justify-content: space-between
    gap: 8px

.name
    flex-grow: 1

.effects
    margin: 2px 0 0
    padding-left: 16px
    font-size: 0.9em
    opacity: 0.8
